.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 300px;

    background-color: var(--p-bg);

    .content{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;

        .logo{
            display: flex;
            align-items: center;

            p{
                font-size: 38px;
                font-weight: bolder;
                color: var(--primary)
            }

            img{
                height: 30px;
            }
        }

        .sections{
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: center;

            .socialP{
                margin-top: -38px;
            }

            img{
                height: 20px;
                margin-top: 10px;
            }

            p{
                font-weight: 600;
                color: var(--primary);
                margin: 0;
                padding: 0;
            }

            ul{
                padding: 0;

                li{
                    display: flex;
                    margin: 0 0 5px 0;
                    
                    a{
                        text-decoration: none;
                        color: var(--primary);
                        font-size: 14px;

                        &:hover{
                            text-decoration: underline;
                        }
                    }
                }
            }

        }
    }

    hr{
        width: 90%;
        border: none;
        background-color: var(--primary);
        border-top: 1px dashed var(--p-bg);
        margin: 20px 0;
    }

    p{
        color: var(--primary);
        font-size: 14px;
    }
}