.container{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 280px;

    .optionsContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        margin-bottom: -110px;

        .optionsButton.buttonUnselec{
            background-color: var(--off-white);
            border: solid var(--p-bg) 1px;
            color: var(--p-bg);
            transition: all .2s ease-in-out;
        }

        .optionsButton{
            height: 35px;
            width: 150px;

            background-color: var(--p-bg);
            color: var(--off-white);
            border-radius: 8px;
            border: none;
            outline: none;
            margin-bottom: 10px;
            margin-left: -200px;
            transition: all .2s ease-in-out;

            &:hover{
                cursor: pointer;
            }
        }
    }

    .content{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .titleContainer{
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                height: 30px;
            }

            p{
                font-size: 30px;
                font-weight: bolder;
                color: var(--p-bg)
            }
        }

        .outputContainer{
            display: flex;

            width: 100%;

            .output{
                width: 100%;
                height: 30px;
                border: solid var(--p-bg) 1px;
                border-radius: 8px 0 0 8px;
                outline: none;
                background-color: var(--off-white);
                margin-bottom: 10px;
                padding-left: 10px;
                color: var(--p-bg)
            }

            .copyContainer{
                display: flex;
                justify-content: center;
                align-items: center;

                height: 34px;
                width: 34px;

                background-color: var(--p-bg);
                border-radius: 0 8px 8px 0;

                &:hover{
                    cursor: pointer;
                    background-color: var(--p-bg-d);
                }

                img{
                    height: 20px;
                }
            }
        }

        .responseContainer{
            display: flex;
            justify-content: space-between;
            align-items: center;

            .outputLenght{
                height: 10px;
                width: 138px;
                padding: 10px;
                border: solid var(--p-bg) 1px;
                border-radius: 8px;
                outline: none;
                background-color: var(--off-white);
                color: var(--p-bg)
            }

            button{
                height: 30px;
                width: 200px;
                margin-left: 10px;
                border-radius: 8px;
                outline: none;
                background-color: var(--p-bg);
                border: none;
                color: var(--off-white);

                &:hover{
                    background-color: var(--p-bg-d);
                    cursor: pointer;
                }
            }
        }
    }
}