.container{
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;

    height: 70px;
    width: 100vw;

    background-color: var(--p-bg);

    .logoContainer{
        display: flex;
        justify-content: center;
        align-items: center;

            img{
            height: 26px;
        }

        .logoTitle{
            font-size: 32px;
            font-weight: bolder;
            color: var(--primary);
            text-decoration: none;
        }
    }
}

.sections{
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 70px;
    left: 0;
    z-index: 99;
    
    height: 40px;
    width: 100vw;

    background-color: var(--off-white);
-webkit-box-shadow: 0px 5px 15px -6px rgba(0,0,0,0.23); 
box-shadow: 0px 5px 15px -6px rgba(0,0,0,0.23);
}