input::placeholder{
    color: var(--p-bg)
}

.titleContainer{
    display: flex;
    align-items: center;

    margin: 0 auto;

    width: 39vw;

    .title{
    font-size: 30px;
    font-weight: bold;
    color: var(--p-bg);
    }

    img{
        height: 34px;
    }
}

.responseContainer{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100px;
    width: 38.5%;

    margin: 0 auto;
    background-color: var(--off-white);
    border: solid var(--p-bg) 1px;
    border-radius: 8px;

    overflow: hidden;
    text-overflow: ellipsis;
    
    .response{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        width: 95%;
        height: 100%;

        text-align: center;
        color: var(--p-bg);

        .responseTitle{
            font-size: 20px;
            font-weight: 600;
            margin: 15px 0 0 0;
        }
    }
}

.inputContainer{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    margin-top: -30px;

    .leftContent{
        display: flex;
        justify-content: center;
        align-items: end;
        flex-direction: column;

        height: 200px;
        width: 25%;

        .capitalInicial.capNull, .taxaJuros.capNull{
            border-color: var(--error);

            p{
                background-color: var(--error);
            }

            input{
                color: var(--error);

                &::placeholder{
                    color: var(--error)
                }
            }
        }



        .capitalInicial, .taxaJuros{
            display: flex;
            align-items: center;

            height: 40px;
            width: 75%;

            background-color: var(--off-white);
            border: solid var(--p-bg) 1px;
            border-radius: 8px;

            margin: 20px 10px 0 0;

            transition: border .2s ease-in-out;

            p{
                display: flex;
                justify-content: center;
                align-items: center;

                height: 100%;
                min-width: 40px;

                background-color: var(--p-bg);
                font-weight: 500;
                font-size: 14px;
                color: var(--p-white);
                border-radius: 6px 0 0 6px;

                transition: all .2s ease-in-out;
            }

            input{
                height: 100%;
                width: 100%;

                background-color: transparent;
                border: none;
                outline: none;
                padding-left: 10px;
                color: var(--p-bg)
            }
        }

        .taxaJuros{
            display: flex;
            align-items: center;
        }
    }

    .rightContent{
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;

        height: 200px;
        width: 25%;

        .tempoJuros.capNull{
            border-color: var(--error);

            p{
                background-color: var(--error);
            }

            input{
                color: var(--error);

                &::placeholder{
                    color: var(--error)
                }
            }
        }

        button{
            height: 40px;
            width: 75.5%;

            margin-left: 10px;
            margin-bottom: -20px;
            background-color: var(--p-bg);
            border: none;
            border-radius: 8px;
            outline: none;
            color: var(--off-white);

            &:hover{
                cursor: pointer;
                background-color: var(--p-bg-d);
            }
        }

        .tempoJuros{
            display: flex;
            align-items: center;

            height: 40px;
            width: 75%;

            background-color: var(--off-white);
            border: solid var(--p-bg) 1px;
            border-radius: 8px;

            margin: 0 0 20px 10px;

            transition: border .2s ease-in-out;

            p{
                display: flex;
                justify-content: center;
                align-items: center;

                height: 100%;
                min-width: 70px;

                background-color: var(--p-bg);
                font-weight: 500;
                font-size: 14px;
                color: var(--p-white);
                border-radius: 6px 0 0 6px;

                transition: all .2s ease-in-out;
            }

            input{
                height: 100%;
                width: 100%;

                background-color: transparent;
                border: none;
                outline: none;
                padding-left: 10px;
                color: var(--p-bg);
            }

        }
    }
}