.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    width: 100vw;
    margin-bottom: 100px;
    

    .content{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 50%;

        .titleContainer{
            display: flex;
            align-items: center;
            width: 100%;
            
            .title{
                font-size: 30px;
                color: var(--p-bg);
                font-weight: bold;
            }

            .titleIcon{
                height: 40px;
                margin: 0;
                margin-left: 16px;
            }
        }

        .toolContainer{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            justify-content: space-between;

            width: 100%;

            .optionsContainer{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                height: 100px;
                max-width: 70%;

                margin: 20px;
                background-color: var(--off-white);
                border-radius: 12px;
                text-align: center;
                border: solid var(--off-white) 20px;
                outline: solid var(--off-white) 1px;
                transition: outline .2s ease-in-out;

                &:hover{
                    cursor: pointer;
                    outline: solid var(--p-bg) 1px
                }

                .toolTitle{
                    color: var(--p-bg);
                    font-size: 16px;
                    font-weight: 600;
                    height: 50px;
                    margin: 0;

                    display: -webkit-box;          
                    -webkit-line-clamp: 2;        
                    -webkit-box-orient: vertical; 
                    overflow: hidden;              
                    text-overflow: ellipsis;
                }

                .toolDesc{
                    margin: 0;
                    font-size: 12px;
                    color: var(--p-bg);

                    display: -webkit-box;          
                    -webkit-line-clamp: 2;        
                    -webkit-box-orient: vertical; 
                    overflow: hidden;              
                    text-overflow: ellipsis;
                }
            }
        }
    }
}